:root {
  /* Light Palette */
  --primary-color: #cb9df0;
  --secondary-color: #f0c1e1;
  --font-color: #fddbbb;
  --accent-color: #FFD2A0;

  /* Dark Palette */
  --primary-color: #8174a0;
  --secondary-color: #a888b5;
  --font-color: #efb6c8;
  --accent-color: #ffd2a0;
}
