/* Adding div to make maximum length of page. */
div.wrap {
  width: 960px;
  margin: 0 auto;
}
/* Header scrolls above cards. */
.main-header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

/* Optional and extra rainbow gradient. */
h1 {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  margin: 0;
  width: 100%;
}

/* lets you fix the bookmark within the cards */
article {
  position: relative;
}

/* Column flexbox so each item in cards is stacked upon each other */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.question-card {
  font-size: 20px;
  background-color: var(--secondary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 320px;
  box-shadow: 0px 10px 13px -7px lightcoral;
  align-self: center;
  margin: 10px;
  border-radius: 15px;
}

.answer--index {
  display: none;
}
.bookmark {
  position: absolute;
  right: 0px;
  top: 0px;
  /* need to make this a button */
}
.bookmark:hover {
  background-color: aqua;
}
.question {
  margin-top: 60px;
  margin-bottom: 0px;
}
button {
  align-self: center;
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  color: lightcoral;
  border: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

ul.categories {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 5px; /* Remove margins */
  align-content: flex-end;
}

li.category {
  border: solid var(--font-color) 2px;
  background-color: var(--primary-color);
  margin: 10px;
  width: fit-content;
  font-size: 16px;
  border-radius: 5px;
  display: inline;
  align-content: left;
}

.footer-nav {
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  maring-top: 2px;
  position: relative;
}
