div.wrap {
  width: 960px;
  margin: 0 auto;
}
.main-header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  text-align: center;
  background-color: lightcoral;
  margin: 0;
  padding: 0;
  width: 100%;
}

article {
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.question-card {
  font-size: 20px;
  background-color: var(--secondary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  /* border: dashed blue; */
  justify-self: center;
  margin: 10px;
  border-radius: 15px;
}

.bookmark {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bookmark:hover {
  background-color: aqua;
}
.question {
  margin-top: 60px;
  margin-bottom: 0px;
}
button {
  width: fit-content;
  align-self: center;
  height: 180px;
  height: 180px;
  background-color: green;
}
button:hover {
  background-color: blue;
  color: white;
}
.question--pic {
  height: 100%;
  width: 100%;
}
/* .answer--pic {
  height: 100%;
  width: 100%;
  display: none;
}
#toggle:checked ~ .question--pic {
  height: 100%;
  width: 100%;
  display: none;
}
#toggle:checked ~ .answer--pic {
  height: 100%;
  width: 100%;
  display: block; */
}
ul.categories {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li.category {
  border: solid var(--accent-color);
  background-color: var(--primary-color);
  margin: 10px;
  width: fit-content;
  font-size: 16px;
  border-radius: 5px;
  position: static;
  display: inline;
  align-content: left;
}

.footer-nav {
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* This is for mobile device formatting (ie. the intended format) */
@media screen and (max-width: 600px) {
  .question-card {
    height: 300px;
    width: 300px;
    /* justify-self: center; */
    margin: 10px;
    border-radius: 15px;
  }
}
