h2 {
  justify-self: center;
  font-size: 3rem;
}

article {
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.question-card {
  font-size: 2rem;
  background-color: var(--secondary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  /* border: dashed blue; */
  justify-self: center;
  margin: 10px;
  border-radius: 15px;
}

.bookmark {
  position: absolute;
  right: 0px;
  top: 0px;
  color: var(--accent-color);
}
.question {
  margin-top: 60px;
  margin-bottom: 0px;
}
button {
  width: fit-content;
  align-self: center;
  height: 40%;
}
ul.categories {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  justify-content: end;
}

li.category {
  border: solid var(--accent-color);
  background-color: var(--primary-color);
  margin: 10px;
  width: fit-content;
  font-size: 16px;
  border-radius: 5px;
  position: static;
  display: inline;
  bottom: 0px;
}

.footer-nav {
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* This is for mobile device formatting (ie. the intended format) */
@media screen and (max-width: 600px) {
  .question-card {
    height: 300px;
    width: 300px;
    /* justify-self: center; */
    margin: 10px;
    border-radius: 15px;
  }
}
