/* .profile {
  border-radius: 50%;
  border: 2px solid rgb(184, 37, 147);
  position: fixed;
  width: fit-content;
} */

.prof-header {
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
}

.picture-box {
  border: 2px solid;
  width: 40px;
  height: 40px;
  margin: 10px;
  align-self: center;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: row;
}
