.prof-header {
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
}

.picture-box {
  border: 2px solid;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
}
.profile-picture {
  align-self: center;
  justify-self: center;
  height: 40px;
}
.profile {
  display: flex;
  flex-direction: row;
}
.prof-name {
  font-size: 30px;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.about-me {
  font-size: 16px;
  line-height: 1.5;
}

.stat-icon {
  width: 40px;
  height: 40px;
}

.stat-counter {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

.question-count,
.bookmark-count {
  border-style: solid;
  border-color: var(--accent-color);
  border-radius: 10px;
  display: flex;
  width: 25%;
  justify-content: space-around;
}
