@import "/css/homepage.css";
@import "/css/global.css";
@import "/css/bookmarkpage.css";
@import "/css/profilepage.css";

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--primary-color);
    color: beige;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: paleturquoise;
    color: rgb(177, 165, 41);
  }
}
