@import "./homepage.css";
@import "./global.css";
@import "./profile.css";
@import "./bookmarks.css" ;

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--primary-color);
    color: var(--font-color);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #cb9df0;
    color: #fddbbb;
  }
}
