@import "/css/homepage.css";

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: rgb(45, 39, 66);
    color: beige;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: paleturquoise;
    color: rgb(177, 165, 41);
  }
}
